body{
	padding: 50px;
}
#authors table {
	max-width: 800px
}
th:nth-child(1) {
	width: 400px
}
th:nth-child(2) {
	width: 200px
}
th:nth-child(3) {
	width: 200px
}
#books {
	margin-top: 100px;
	position: relative;
	max-width: 1000px	
}
#books .blocker {
	position: absolute;
	display:none;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 240, 0.8)
}
#books .blocker p {
	font-size: 80px;
	margin-top: 70px;
	text-align: center
}
#books.disabled .blocker {
	display: block
}
#books table {
}
td.price.loading {
	color: #666
}
td.price.loading:after {
	content:'loading...';
}
td.price.stock {
	font-weight:bold;
	color: #00cc00
}
td.price.stock:after {
	content:',00 $ (in stock)';
}

td.price.out {
	text-decoration: line-through;
	color: #cc0000
}
td.price.offline {
	font-weight: bold;
	color: #999;
	white-space:nowrap
}
td button{
	vertical-align: middle;
	margin-top: -5px
}

td.price.out:after {
	content:',00 $ (not in stock)';
}